<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Client Directory</title>
</head>

<body>

<div class="container">

    <h3>Client Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/clients/showClientForm}"
       class="btn btn-primary btn-sm mb-3">
        Add Client
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="client : ${clients}">

            <td th:text="${client.id}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.description}"></td>
            <td>
                <a th:href="@{/clients/showClientForm(id=${client.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/clients/delete(id=${client.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if ((confirm('Are you sure you want to delete this client?'))) return true">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



